.app {
  background-color: #51087b;

}
.containerTop{
  width: 100%;
  border-bottom: 1px solid #8080803b;
  margin-left:0px;
  display: flex;
  padding-top: 15px;

}
.img{
  border-radius: 5vw;
  background-color:white;
  width: 10vw;
  height: 10vw;
  margin: auto;
  margin-bottom: 5px;

}
.item {
  padding:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
  color: white;
  font-size: 23px;
  text-align: center;

}
